.corona_state {
  width: 780px;
  height: 280px;
  padding: 10px 20px;
  margin: 10px 0;
  border: 1px solid lightslategray;
  text-align: center;
}
.corona_state h2 {
  padding: 5px;
}
.co_state_desc {
  width: calc((100% - 40px) / 2);
  margin: 0 10px;
  text-align: left;
  float: left;
}
.corona_state h2 span {
  font-size: 23px;
  font-weight: 700;
}
